@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  font-family: 'Verdana', sans-serif;
  padding: 10px;
}

p {
  display: block;
}
*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--headerBg);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--itemIconBg);
}

*::-webkit-scrollbar-track {
  background-color: var(--buttonBg);
}
