:root {
  --headerBg: #999999;
  --headerColor: #ffffff;

  --itemBg: #efeaf6;
  --itemIconBg: #616161;
  --itemIconFill: #7a7a7a;
  --itemColor1: #303030;
  --itemColor2: #787878;

  --buttonBg: #ebebeb;
}
